In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from datetime import date

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from fbprophet import Prophet

In [2]:
! pip install fbprophet

Requirement already satisfied: fbprophet in /usr/local/lib/python3.7/dist-packages (0.7.1)
Requirement already satisfied: Cython>=0.22 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.29.24)
Requirement already satisfied: cmdstanpy==0.9.5 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.9.5)
Requirement already satisfied: pystan>=2.14 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.19.1.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.19.5)
Requirement already satisfied: pandas>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.1.5)
Requirement already satisfied: matplotlib>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (3.2.2)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.0.9)
Requirement already satisfied: convertdate>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.3.2)
Requirement already satisfied: holidays>=0.10.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (0.10.5.2)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from fbprophet) (4.62.0)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (0.5.11)
Requirement already satisfied: pytz>=2014.10 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.1.2->fbprophet) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (1.15.0)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (2.1.3)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.10.2->fbprophet) (0.2.1)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->fbprophet) (4.0.0.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.0.0->fbprophet) (0.10.0)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
value = pd.read_excel("/content/drive/MyDrive/동일건축 /1000(3).xlsx")
value

          Date      낙찰율      동일  ...  휴다임(이가에이씨엠)   휴먼텍코리아       희림
0   2016-01-05  100.464  99.837  ...       99.880   99.090  100.415
1   2016-01-15  100.886  99.837  ...       99.572   99.172  100.482
2   2016-01-26   99.329  99.875  ...      101.391    0.000   99.665
3   2016-01-29  100.178  99.863  ...       99.891   98.894  100.362
4   2016-02-04   99.860  99.852  ...      101.257    0.000  100.174
..         ...      ...     ...  ...          ...      ...      ...
464 2021-07-12   99.178  99.855  ...        0.000  100.906    0.000
465 2021-07-13   98.933  99.860  ...      100.504   99.207  100.241
466 2021-07-16   99.901  99.871  ...      100.846   98.765  100.362
467 2021-07-19   99.976  99.853  ...       99.961   98.924  100.469
468 2021-07-20   99.260   0.000  ...      100.571   99.168  101.018

[469 rows x 43 columns]

In [5]:
date = value['Date']
date

0     2016-01-05
1     2016-01-15
2     2016-01-26
3     2016-01-29
4     2016-02-04
         ...
464   2021-07-12
465   2021-07-13
466   2021-07-16
467   2021-07-19
468   2021-07-20
Name: Date, Length: 469, dtype: datetime64[ns]

In [6]:
value = value.drop(['낙찰율','동일','Date'], axis=1)
value

        가람건축       건원       경호      근정  ...     혜원까치  휴다임(이가에이씨엠)   휴먼텍코리아       희림
0    100.283   99.689   99.497  99.799  ...  100.065       99.880   99.090  100.415
1    100.284   99.340   99.380  99.769  ...  100.069       99.572   99.172  100.482
2     99.237  100.248   98.555   0.000  ...  100.069      101.391    0.000   99.665
3    100.285   99.840   99.638  99.800  ...  100.066       99.891   98.894  100.362
4     99.394  100.299   98.590   0.000  ...  100.072      101.257    0.000  100.174
..       ...      ...      ...     ...  ...      ...          ...      ...      ...
464  100.682   99.821  100.092  99.220  ...   99.840        0.000  100.906    0.000
465  100.284   99.340   98.860  99.769  ...  100.069      100.504   99.207  100.241
466  100.292   99.340   98.840  99.770  ...  100.069      100.846   98.765  100.362
467  100.293   99.340   98.850  99.770  ...  100.069       99.961   98.924  100.469
468    0.000  100.429   98.925  99.770  ...  100.070      100.571   99.168  101.018

[469 rows x 40 columns]

In [7]:
print("새로운 공고의 날짜를 입력해주세요: ")
input_date = input()
for col, item in value.iteritems():
  print("Name: ", col)
  #name = col.
  #print(item)

  value_company = pd.concat([date,item],axis=1, keys = ['ds','y'])
  #print(value_company)

  finalvalue_company = value_company[value_company.y != 0]
  finalvalue_company.columns = ['ds', 'y']
    
  m = Prophet(daily_seasonality=True)  
  m.fit(finalvalue_company)
    
  future = m.make_future_dataframe(periods=365)
  pred = m.predict(future)

  df_result = pd.DataFrame( columns=['ds', 'yhat', 'yhat_lower', 'yhat_upper', 'trend_lower', 'trend_upper'])
  
  df1=[]
  result = pred.loc[pred['ds'] == input_date]
  #df1['name']= name
  df1 = pd.DataFrame(result[['ds', 'yhat', 'yhat_lower', 'yhat_upper', 'trend_lower', 'trend_upper']])
  
  df_result =pd.concat([df_result,df1])
  print(df_result)

새로운 공고의 날짜를 입력해주세요:
2022-02-01
Name:  가람건축
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
557 2022-02-01  99.875206   99.005676   100.75522   100.705655   100.757729
Name:  건원
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
535 2022-02-01  100.295838   95.329714  105.310039    98.930777    99.030957
Name:  경호
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
544 2022-02-01  100.081613   99.115108   101.10279   100.272448   100.442146
Name:  근정
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
474 2022-02-01  101.666737   95.975005  107.025505    99.587771    99.673559
Name:  다인그룹
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
539 2022-02-01  99.712624    99.05206  100.361978    99.212163     99.48768
Name:  단에이앤씨
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
564 2022-02-01  99.712915   98.956183  100.507908    99.501099    99.535092
Name:  대성종합
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
533 2022-02-01  100.93844   98.849466   103.07978   100.220062   100.380544
Name:  대흥종합
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
549 2022-02-01  99.779479   98.493089  101.087146    98.993181     99.95038
Name:  동우이앤씨
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
561 2022-02-01  97.284994   96.318611   98.425535    96.853292    97.305764
Name:  목양
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
575 2022-02-01  99.525814   98.856926  100.222478    98.956519     99.32588
Name:  무영씨엠
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
548 2022-02-01  100.348471   99.739339  100.964764    99.670793    99.905463
Name:  삼우씨엠
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
500 2022-02-01  99.725028   98.942497  100.534088   100.398444   100.599356
Name:  삼우공간
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
567 2022-02-01  100.125075   99.526097  100.698738   100.000334   100.087707
Name:  상지엔지니어링
            ds      yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
562 2022-02-01  99.55259   98.569923   100.51628    99.329168    99.422016
Name:  선엔지니어링
            ds      yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
544 2022-02-01  99.23618   98.401291  100.028375    98.533601    99.910445
Name:  신성종합건축사
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
568 2022-02-01  99.969431   99.173977  100.841367    98.993168    99.180953
Name:  신화엔지니어링
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
521 2022-02-01  100.398113   92.480842  108.498285   101.355047   101.359391
Name:  아이티엠코퍼레이션
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
554 2022-02-01  99.928743   99.181412  100.690417    99.414041   100.038476
Name:  영화키스톤
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
557 2022-02-01  99.822728   95.404232  104.084827   100.535944   100.589966
Name:  원종합엔지니어링
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
565 2022-02-01  99.650394   98.224623  101.200454    100.20035   100.476533
Name:  유원
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
506 2022-02-01  99.236189   98.427801  100.048294     99.10752    99.318735
Name:  유일
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
436 2022-02-01  100.364267   99.527204  101.195862   100.267476   100.532245
Name:  유탑
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
562 2022-02-01  100.275761   99.634201  100.949213      99.8304    99.967587
Name:  전인씨엠
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
435 2022-02-01  100.794128   99.798597  101.774638    99.794278    99.996782
Name:  정림건축
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
543 2022-02-01  100.177828   99.540868  100.827716    99.610962    99.743328
Name:  중앙
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
573 2022-02-01  99.830501    99.05325  100.632695    99.874367    99.970331
Name:  청우종합
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
470 2022-02-01  100.055495   99.202134  100.929202   100.377417   100.446193
Name:  케이디
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
574 2022-02-01  99.475195   98.700814   100.22118    99.202622    99.647614
Name:  태백
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
572 2022-02-01  99.031839   93.373803  105.490624    100.46213   100.535048
Name:  토문
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
552 2022-02-01  99.302784   99.062859   99.550136    99.209169     99.35849
Name:  토펙
            ds        yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
547 2022-02-01  100.149386   99.369506  101.017457    99.667138    99.746873
Name:  펨코
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
563 2022-02-01  99.505816    97.19403  101.691334    98.905232    98.943275
Name:  포스코에이앤씨
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
534 2022-02-01  99.811178    98.85242  100.688241     99.87428    99.919042
Name:  한국종합
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
540 2022-02-01  98.932685   98.049504    99.79821    98.396313    98.495205
Name:  한림이앤씨
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
571 2022-02-01  98.809368   97.914293   99.775105    98.415901    98.534119
Name:  행림
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
566 2022-02-01  99.191574   98.325986  100.029927    98.502978    98.842806
Name:  혜원까치
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
510 2022-02-01  99.891751   99.112097  100.694321    99.309133    99.677598
Name:  휴다임(이가에이씨엠)
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
520 2022-02-01  99.668346   98.528121  100.931801    99.424221    99.482895
Name:  휴먼텍코리아
            ds       yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
460 2022-02-01  99.748318   98.724432  100.795199    99.414718     99.74855
Name:  희림
            ds      yhat  yhat_lower  yhat_upper  trend_lower  trend_upper
541 2022-02-01  99.95517   99.231911  100.719298   100.343993   100.462769